# --- CREDENZIALI EXCHANGE ---
EXCHANGE_ID=binance
API_KEY=inserisci_qui_la_tua_chiave
API_SECRET=inserisci_qui_il_tuo_segreto

# --- IMPOSTAZIONI OPERATIVE DEL BOT ---
SYMBOL=BTC/USDT
TIMEFRAME=1h
LEVERAGE=1
QUANTITY=0.001
